<div class="postsDisplay-container">
	<!-- <button ng-click="postsDisplay.setSelected('lucky')">setSelected{{postsDisplay.selected}}</button>
	<button ng-click="postsDisplay.getSelected()">getSelected</button>{{postsDisplay.selected}} -->
	<div class="postsDisplay-header">posts  </div>
	<div ng-repeat="post in postsDisplay.posts">
		<div class="postsDisplay-card">

			<div class="postsDisplay-top">
				<div class="postsDisplay-top-left">
					<div class="picture"></div>
					<div>
						<div class="postsDisplay-author">{{ post.authorName }}</div>
						<div><time am-time-ago="post.createdAt"></time></div>
					</div>
				</div>

				<div class="postsDisplay-top-right">BOOKMARK</div>
			</div>

			<div class="postsDisplay-title">
				<div><a ng-href="/posts/{{ post._id }}">{{ post.title }}</a></div>
			</div>

			<div class="postsDisplay-body">{{ post.body }}</div>


			<div class="postsDisplay-bottom">
				<div>0 views</div>
				<div>{{ post.upvotes_count }} likes</div>
				<div>0 shares</div>
				<svg class="lnr lnr-mustache"><use xlink:href="#lnr-mustache"></use></svg>
				<div>0 responses</div>
			</div>



		</div>
	</div>
</div>
