

/* postsDisplayLayout.html */


.postsDisplay-container {
  @extend %container;
}

.postsDisplay-container-left {
  @extend %container-left;
}

.postsDisplay-container-inner-left {
  @extend %container-inner-left;
}

.postsDisplay-container-inner-right {
  @extend %container-inner-right;
}

.postsDisplay-container-right {
  @extend %container-right;
}


/* postsDisplayView.html */


.postsDisplay-card {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  max-width: 600px;
  // min-height: 200px;
  // max-height: 300px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  // margin-bottom: 20px;

  background-color: white;

}

.postsDisplay-top {
  font-family: 'Montserrat-UltraLight';
  color: $color-dark-gray;
  // font-size: .95em;
  // height: 20%;
}

.postsDisplay-title {
  font-family: 'Avenir';
	font-style: normal;
  // font-size: 1.5em;
	font-weight: 500;
  color: $color-primary; // #2ecc71;
  text-decoration: none;
  // height: 20%;
  &:hover {
    color: $color-secondary;
  }
}

.postsDisplay-body {
  // height: 50%;
  // font-size: .95em;
  font-family: Sans-serif;
  font-weight: 100;

  color: #5A5A5A;


  // ellipsis for text
  display: block;
  display: -webkit-box;
  max-width: 100%;
  // height: 110px;
  margin: 0 auto;
  // line-height: 1.3;
  // white-space: pre;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}




.postsDisplay-bottom {
  height: 10%;
  font-family: 'Montserrat-UltraLight';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-dark-gray;
  // font-size: .90em;
}
