
.postsDisplay-container {

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.postsDisplay-container-left {
  height: 1000px;
  display: flex;
  flex-direction: row;
  width: 800px;
}

.postsDisplay-left:hover #icons-title {
  color: $color-primary;
  border-color: $color-primary;
}

.postsDisplay-center:hover #postsDisplay-title {
  color: $color-primary;
  border-color: $color-primary;
}


.postsDisplay-container-right {
  width: 200px;
}

.postsDisplay-left {
  padding-right: 50px;
  width: 150px;
}



.postsDisplay-center {
  width: 92%;
}



#postsDisplay-title {
  color: $color-dark-gray;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-dark-gray; //$color-light-gray
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: italic;
  font-weight: 500;
  font-size: 1.13em;
}

.postsDisplay-card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  min-height: 200px;
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: white;



  border-bottom: 1px solid $color-light-gray;
}

.postsDisplay-top {
  font-family: 'Montserrat-UltraLight';
  color: $color-dark-gray;
  font-size: .95em;
  height: 20%;
}

.postsDisplay-title {
  font-family: "Archer SSm A", "Archer SSm B";
	font-style: normal;
  font-size: 1.5em;
	font-weight: 600;
  color: #3f5973; // #2ecc71;
  text-decoration: none;
  height: 20%;
  &:hover {
    color: $color-secondary;
  }
}

.postsDisplay-body {
  // height: 50%;
  font-size: .95em;
  font-family: 'Montserrat-Light';
  font-weight: 100;

  color: #5A5A5A;


  // ellipsis for text
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 110px;
  margin: 0 auto;
  line-height: 1.3;
  // white-space: pre;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}




.postsDisplay-bottom {
  height: 10%;
  font-family: 'Montserrat-UltraLight';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-dark-gray;
  font-size: .90em;
}
